In [8]:
import pandas as pd
import numpy as np

In [9]:
#Identifying the path and saving it as variable 
abt_path = './MotorInsuranceFraudClaimABTFull.csv'

In [46]:
#reading the csv and loading it into a dataframe
df = pd.read_csv(abt_path, sep = ',')
df.head()

,ID,Insurance Type,Income of Policy Holder,Marital Status,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
0,1,CI,0,NaN,2,Soft Tissue,No,1625,3250,2,2.0,1.0,0,1
1,2,CI,0,NaN,2,Back,Yes,15028,60112,1,0.0,0.0,15028,0
2,3,CI,54613,Married,1,Broken Limb,No,-99999,0,0,0.0,0.0,572,0
3,4,CI,0,NaN,3,Serious,Yes,270200,0,0,0.0,0.0,270200,0
4,5,CI,0,NaN,4,Soft Tissue,No,8869,0,0,0.0,0.0,0,1

In [14]:
#Retruns all values in the column 'Injury Type'
df['Injury Type']

0      Soft Tissue
1             Back
2      Broken Limb
3          Serious
4      Soft Tissue
          ...
495    Soft Tissue
496    Broken Limb
497    Broken Limb
498    Broken Limb
499    Broken Limb
Name: Injury Type, Length: 500, dtype: object

In [12]:
#Returns all the data types on all of the column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
ID                         500 non-null int64
Insurance Type             500 non-null object
Income of Policy Holder    500 non-null int64
Marital Status             170 non-null object
Num Claimants              500 non-null int64
Injury Type                500 non-null object
Overnight Hospital Stay    500 non-null object
Claim Amount               500 non-null int64
Total Claimed              500 non-null int64
Num Claims                 500 non-null int64
Num Soft Tissue            490 non-null float64
% Soft Tissue              500 non-null float64
Claim Amount Received      500 non-null int64
Fraud Flag                 500 non-null int64
dtypes: float64(2), int64(8), object(4)
memory usage: 54.8+ KB

In [15]:
#Returns the columns 'Injury Type' and 'Fraud Flag'
df[['Injury Type', 'Fraud Flag']]

     Injury Type  Fraud Flag
0    Soft Tissue           1
1           Back           0
2    Broken Limb           0
3        Serious           0
4    Soft Tissue           1
..           ...         ...
495  Soft Tissue           1
496  Broken Limb           1
497  Broken Limb           0
498  Broken Limb           0
499  Broken Limb           1

[500 rows x 2 columns]

Returns all

In [17]:
#returns 8 rows of the data frame
df.loc[0:8]

,ID,Insurance Type,Income of Policy Holder,Marital Status,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
0,1,CI,0,NaN,2,Soft Tissue,No,1625,3250,2,2.0,1.0,0,1
1,2,CI,0,NaN,2,Back,Yes,15028,60112,1,0.0,0.0,15028,0
2,3,CI,54613,Married,1,Broken Limb,No,-99999,0,0,0.0,0.0,572,0
3,4,CI,0,NaN,3,Serious,Yes,270200,0,0,0.0,0.0,270200,0
4,5,CI,0,NaN,4,Soft Tissue,No,8869,0,0,0.0,0.0,0,1
5,6,CI,0,NaN,1,Broken Limb,Yes,17480,0,0,0.0,0.0,17480,0
6,7,CI,52567,Single,3,Broken Limb,No,3017,18102,2,1.0,0.5,0,1
7,8,CI,0,NaN,2,Back,Yes,7463,0,0,0.0,0.0,7463,0
8,9,CI,0,NaN,1,Soft Tissue,No,2067,0,0,NaN,0.0,2067,0

In [24]:
#return 5 lines of columns 'Injury Type' and 'Fraud Flad'
df.loc[0:5,['Injury Type' , 'Fraud Flag']]

   Injury Type  Fraud Flag
0  Soft Tissue           1
1         Back           0
2  Broken Limb           0
3      Serious           0
4  Soft Tissue           1
5  Broken Limb           0

In [28]:
#info at row 0
df.iloc[0]

ID                                   1
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        2
Injury Type                Soft Tissue
Overnight Hospital Stay             No
Claim Amount                      1625
Total Claimed                     3250
Num Claims                           2
Num Soft Tissue                      2
% Soft Tissue                        1
Claim Amount Received                0
Fraud Flag                           1
Name: 0, dtype: object

In [30]:
#info at row 0 and column 'Num Claims'
df.iloc[0]['Num Claims']

2

In [32]:
#info for row 1-10 and column 'Num Claims'
df.iloc[0:10]['Num Claims']

0    2
1    1
2    0
3    0
4    0
5    0
6    2
7    0
8    0
9    0
Name: Num Claims, dtype: int64

In [38]:
#this is only returns one value as an int
df.at[0, 'Num Claims']

1

In [41]:
#returns if the donlims at 'Num Claims' is equal to '0'
df['Num Claims'] == 0

0      False
1      False
2       True
3       True
4       True
       ...
495     True
496     True
497     True
498     True
499     True
Name: Num Claims, Length: 500, dtype: bool

In [45]:
#returns the rows with 'Num Claims' equal to '0'
df.loc[ df['Num Claims'] == 0 ]

,ID,Insurance Type,Income of Policy Holder,Marital Status,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
2,3,CI,54613,Married,1,Broken Limb,No,-99999,0,0,0.0,0.0,572,0
3,4,CI,0,NaN,3,Serious,Yes,270200,0,0,0.0,0.0,270200,0
4,5,CI,0,NaN,4,Soft Tissue,No,8869,0,0,0.0,0.0,0,1
5,6,CI,0,NaN,1,Broken Limb,Yes,17480,0,0,0.0,0.0,17480,0
7,8,CI,0,NaN,2,Back,Yes,7463,0,0,0.0,0.0,7463,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,CI,0,NaN,1,Soft Tissue,No,2118,0,0,0.0,0.0,0,1
496,497,CI,29280,Married,4,Broken Limb,Yes,3199,0,0,NaN,0.0,0,1
497,498,CI,0,NaN,1,Broken Limb,Yes,32469,0,0,0.0,0.0,16763,0
498,499,CI,46683,Married,1,Broken Limb,No,179448,0,0,0.0,0.0,179448,0
499,500,CI,0,NaN,1,Broken Limb,No,8259,0,0,0.0,0.0,0,1

In [49]:
#iterating throught
for index, row in df.iterrows():
    print(index, end=' ')
    print(row)

             0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received            45273
Fraud Flag                           0
Name: 463, dtype: object
464 ID                             465
Insurance Type                  CI
Income of Policy Holder      49491
Marital Status             Married
Num Claimants                    1
Injury Type                Serious
Overnight Hospital Stay        Yes
Claim Amount                 27326
Total Claimed                42726
Num Claims                       1
Num Soft Tissue                  0
% Soft Tissue                    0
Claim Amount Received        27326
Fraud Flag                       0
Name: 464, dtype: object
465 ID                                 466
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        4
Injury Type                Soft Tissue
Overnight Hospital Stay            Yes
Claim Amount                     11886
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received                0
Fraud Flag                           1
Name: 465, dtype: object
466 ID                                 467
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        2
Injury Type                Soft Tissue
Overnight Hospital Stay             No
Claim Amount                      5939
Total Claimed                     3938
Num Claims                           1
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received             5939
Fraud Flag                           0
Name: 466, dtype: object
467 ID                                 468
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        3
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                      2415
Total Claimed                    18854
Num Claims                           1
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received             2415
Fraud Flag                           0
Name: 467, dtype: object
468 ID                                 469
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        2
Injury Type                Soft Tissue
Overnight Hospital Stay             No
Claim Amount                      3287
Total Claimed                     4335
Num Claims                           1
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received             3287
Fraud Flag                           0
Name: 468, dtype: object
469 ID                              470
Insurance Type                   CI
Income of Policy Holder       26165
Marital Status              Married
Num Claimants                     1
Injury Type                    Back
Overnight Hospital Stay          No
Claim Amount                   5679
Total Claimed                 42832
Num Claims                        3
Num Soft Tissue                   1
% Soft Tissue              0.333333
Claim Amount Received          5679
Fraud Flag                        0
Name: 469, dtype: object
470 ID                                 471
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        1
Injury Type                Soft Tissue
Overnight Hospital Stay             No
Claim Amount                     83756
Total Claimed                     1693
Num Claims                           1
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received            83756
Fraud Flag                           0
Name: 470, dtype: object
471 ID                          472
Insurance Type               CI
Income of Policy Holder       0
Marital Status              NaN
Num Claimants                 2
Injury Type                Back
Overnight Hospital Stay      No
Claim Amount               6487
Total Claimed                 0
Num Claims                    0
Num Soft Tissue               0
% Soft Tissue                 0
Claim Amount Received      5359
Fraud Flag                    0
Name: 471, dtype: object
472 ID                                 473
Insurance Type                      CI
Income of Policy Holder          51570
Marital Status                  Single
Num Claimants                        1
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                     28953
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received            28953
Fraud Flag                           0
Name: 472, dtype: object
473 ID                                 474
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        1
Injury Type                Soft Tissue
Overnight Hospital Stay             No
Claim Amount                      7330
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received            12917
Fraud Flag                           0
Name: 473, dtype: object
474 ID                             475
Insurance Type                  CI
Income of Policy Holder      52665
Marital Status             Married
Num Claimants                    2
Injury Type                Serious
Overnight Hospital Stay        Yes
Claim Amount                  3160
Total Claimed                    0
Num Claims                       0
Num Soft Tissue                  0
% Soft Tissue                    0
Claim Amount Received         3160
Fraud Flag                       0
Name: 474, dtype: object
475 ID                                 476
Insurance Type                      CI
Income of Policy Holder          43162
Marital Status                 Married
Num Claimants                        1
Injury Type                Soft Tissue
Overnight Hospital Stay            Yes
Claim Amount                      6473
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received                0
Fraud Flag                           1
Name: 475, dtype: object
476 ID                          477
Insurance Type               CI
Income of Policy Holder       0
Marital Status              NaN
Num Claimants                 1
Injury Type                Back
Overnight Hospital Stay     Yes
Claim Amount               9722
Total Claimed              6959
Num Claims                    4
Num Soft Tissue               0
% Soft Tissue                 0
Claim Amount Received      9722
Fraud Flag                    0
Name: 476, dtype: object
477 ID                          478
Insurance Type               CI
Income of Policy Holder       0
Marital Status              NaN
Num Claimants                 2
Injury Type                Back
Overnight Hospital Stay     Yes
Claim Amount               5658
Total Claimed                 0
Num Claims                    0
Num Soft Tissue               0
% Soft Tissue                 0
Claim Amount Received      5658
Fraud Flag                    0
Name: 477, dtype: object
478 ID                                 479
Insurance Type                      CI
Income of Policy Holder          34820
Marital Status                 Married
Num Claimants                        2
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                      4435
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received                0
Fraud Flag                           1
Name: 478, dtype: object
479 ID                                 480
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        1
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                     33739
Total Claimed                    10608
Num Claims                           1
Num Soft Tissue                    NaN
% Soft Tissue                        0
Claim Amount Received            33739
Fraud Flag                           0
Name: 479, dtype: object
480 ID                                 481
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        2
Injury Type                Soft Tissue
Overnight Hospital Stay             No
Claim Amount                     38699
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received                0
Fraud Flag                           1
Name: 480, dtype: object
481 ID                                 482
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        1
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                     15736
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received            15736
Fraud Flag                           0
Name: 481, dtype: object
482 ID                            483
Insurance Type                 CI
Income of Policy Holder     41333
Marital Status             Single
Num Claimants                   1
Injury Type                  Back
Overnight Hospital Stay        No
Claim Amount                 9899
Total Claimed                   0
Num Claims                      0
Num Soft Tissue                 0
% Soft Tissue                   0
Claim Amount Received       10646
Fraud Flag                      0
Name: 482, dtype: object
483 ID                             484
Insurance Type                  CI
Income of Policy Holder          0
Marital Status                 NaN
Num Claimants                    2
Injury Type                Serious
Overnight Hospital Stay        Yes
Claim Amount                  6110
Total Claimed                    0
Num Claims                       0
Num Soft Tissue                  0
% Soft Tissue                    0
Claim Amount Received            0
Fraud Flag                       1
Name: 483, dtype: object
484 ID                                 485
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        3
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                      2698
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received                0
Fraud Flag                           1
Name: 484, dtype: object
485 ID                                 486
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        2
Injury Type                Soft Tissue
Overnight Hospital Stay             No
Claim Amount                      2334
Total Claimed                     6006
Num Claims                           1
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received             1353
Fraud Flag                           0
Name: 485, dtype: object
486 ID                                 487
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        2
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                      2791
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received             2791
Fraud Flag                           0
Name: 486, dtype: object
487 ID                          488
Insurance Type               CI
Income of Policy Holder       0
Marital Status              NaN
Num Claimants                 1
Injury Type                Back
Overnight Hospital Stay      No
Claim Amount                467
Total Claimed                 0
Num Claims                    0
Num Soft Tissue               0
% Soft Tissue                 0
Claim Amount Received       467
Fraud Flag                    0
Name: 487, dtype: object
488 ID                             489
Insurance Type                  CI
Income of Policy Holder      41381
Marital Status             Married
Num Claimants                    1
Injury Type                   Back
Overnight Hospital Stay         No
Claim Amount                  5391
Total Claimed                    0
Num Claims                       0
Num Soft Tissue                  0
% Soft Tissue                    0
Claim Amount Received         5391
Fraud Flag                       0
Name: 488, dtype: object
489 ID                                 490
Insurance Type                      CI
Income of Policy Holder          34756
Marital Status                Divorced
Num Claimants                        1
Injury Type                Soft Tissue
Overnight Hospital Stay             No
Claim Amount                      2122
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received                0
Fraud Flag                           1
Name: 489, dtype: object
490 ID                            491
Insurance Type                 CI
Income of Policy Holder     40204
Marital Status             Single
Num Claimants                   1
Injury Type                  Back
Overnight Hospital Stay        No
Claim Amount                75748
Total Claimed               11116
Num Claims                      1
Num Soft Tissue                 0
% Soft Tissue                   0
Claim Amount Received           0
Fraud Flag                      1
Name: 490, dtype: object
491 ID                                 492
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        1
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                      6172
Total Claimed                     6041
Num Claims                           1
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received             6172
Fraud Flag                           0
Name: 491, dtype: object
492 ID                                 493
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        1
Injury Type                Soft Tissue
Overnight Hospital Stay            Yes
Claim Amount                      2569
Total Claimed                    20055
Num Claims                           1
Num Soft Tissue                    NaN
% Soft Tissue                        0
Claim Amount Received             2569
Fraud Flag                           0
Name: 492, dtype: object
493 ID                                 494
Insurance Type                      CI
Income of Policy Holder          31951
Marital Status                 Married
Num Claimants                        1
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                      5227
Total Claimed                    22095
Num Claims                           1
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received             5227
Fraud Flag                           0
Name: 493, dtype: object
494 ID                          495
Insurance Type               CI
Income of Policy Holder       0
Marital Status              NaN
Num Claimants                 2
Injury Type                Back
Overnight Hospital Stay      No
Claim Amount               3813
Total Claimed              9882
Num Claims                    3
Num Soft Tissue               0
% Soft Tissue                 0
Claim Amount Received         0
Fraud Flag                    1
Name: 494, dtype: object
495 ID                                 496
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        1
Injury Type                Soft Tissue
Overnight Hospital Stay             No
Claim Amount                      2118
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received                0
Fraud Flag                           1
Name: 495, dtype: object
496 ID                                 497
Insurance Type                      CI
Income of Policy Holder          29280
Marital Status                 Married
Num Claimants                        4
Injury Type                Broken Limb
Overnight Hospital Stay            Yes
Claim Amount                      3199
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                    NaN
% Soft Tissue                        0
Claim Amount Received                0
Fraud Flag                           1
Name: 496, dtype: object
497 ID                                 498
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        1
Injury Type                Broken Limb
Overnight Hospital Stay            Yes
Claim Amount                     32469
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received            16763
Fraud Flag                           0
Name: 497, dtype: object
498 ID                                 499
Insurance Type                      CI
Income of Policy Holder          46683
Marital Status                 Married
Num Claimants                        1
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                    179448
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received           179448
Fraud Flag                           0
Name: 498, dtype: object
499 ID                                 500
Insurance Type                      CI
Income of Policy Holder              0
Marital Status                     NaN
Num Claimants                        1
Injury Type                Broken Limb
Overnight Hospital Stay             No
Claim Amount                      8259
Total Claimed                        0
Num Claims                           0
Num Soft Tissue                      0
% Soft Tissue                        0
Claim Amount Received                0
Fraud Flag                           1
Name: 499, dtype: object